

<mat-card class="form-card">
    <mat-card-content>
        <mat-card-title class="second-form-title">Step 2: Address & Contact</mat-card-title>
<form (ngSubmit)="onSubmit()" #addressForm="ngForm" class="form-container">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Mobile Number</mat-label>
    <input matInput name="mobile" [(ngModel)]="mobile" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Present Address</mat-label>
    <textarea matInput name="presentAddress" [(ngModel)]="presentAddress" required></textarea>
  </mat-form-field>

  <button mat-stroked-button color="accent" (click)="copyAddress()" type="button">
    Same as Present Address
  </button>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Permanent Address</mat-label>
    <textarea matInput name="permanentAddress" [(ngModel)]="permanentAddress" required></textarea>
  </mat-form-field>

  

  <div style="display: flex; justify-content: space-between;">
    <button mat-stroked-button color="warn" routerLink="/" type="button">Back</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
</mat-card-content>
</mat-card>